# Ignorar ejecutables del motor
*.exe
Ikemen_GO
Ikemen_GO_Linux
Ikemen_GO_Mac

# Ignorar archivos temporales y de registro
debug/
*.log
*.crash

# Ignorar la carpeta save, pero mantener config.json
save/*
!save/config.json

# Ignorar otras carpetas generadas por el usuario dentro de save (por si acaso)
save/replays/
